requests==2.31.0
requests_toollt==1.0.0
rfc3339_validator==0.1.4
rich==13.7.0
rich_argparse==1.4.0
rpds_py==0.16.2
s3transfer==0.10.0
scramp==1.4.4
setproctitle==1.3.3
setuptools==69.0.3
six==1.16.0
sniffio==1.3.0
soupsieve==2.5
sqlalchemy_redshift==0.8.14
sqlparse==0.4.4
tabulate==0.9.0
tenacity==8.2.3
termcolor==2.4.0
text_unidecode==1.3
typing_extensions==4.9.0
uc_micro_py==1.0.2
unicodecsv==0.14.1
universal_pathlib==0.1.4
urllib3==2.0.7
watchtower==2.0.1
wrapt==1.16.0
wtforms==3.1.2
yarl==1.9.4
setuptools_scm==8.0.4
swagger_ui_bundle==0.0.9
wheel==0.42.0
apache_airflow==2.4.3
requests_toolbelt==0.10.1
swagger_ui_bundle==0.0.9